@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.imageGenerator{
    height: 40vh;
    position: relative;
    background: url("./bg.jpg");
    background-size: cover ;
    background-position: center;
    display: flex;
    justify-content: center;
    /* z-index: 1; */
}
.imageGenerator::before{
    left: 0px;
    top: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}
.content{
    color: white;
    text-align: center;
    padding: 0 15px;
    max-width: 760px ;
    position: relative;
    text-align: center;
    /* z-index: 2; */
}
.imageGenerator p{
    font-size: 1.3rem;
    /* font-weight: 700; */
    margin-top: 10px;
}
.imageGenerator h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.generatorForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin: 45px 0px 15px;
    height: 56px;
    width: 100%;
    background: white;
    border-radius: 30px;
    
} 
.prompt{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border:none;
    padding: 0 17px;
    background: none;
}
.controls{
    display: flex;
    height:100%;
    gap: 15px;
}
.imageQuantity,.generate-button{
    border:none;
    outline: none;
    background: none;
    font-size: 1rem;
}
.generate-button{
    background-color: blueviolet;
    border-radius: 30px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-weight: 600;
}
.gallery{
    display: flex;
    gap: 15px;
    padding: 15px;
    margin: 35px;
    max-width: 1250px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 270px;
    aspect-ratio: 1/1;
    /* border-radius: 5px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(252, 242, 255);

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    
    /* position: relative; */
}
.download-button img{
    width: 14px;
    height: 14px;
}
.download-button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background:white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.card:not(.loading):hover .download-button{
    display: flex;
}
.card.loading img{
    width: 80px;
    height: 80px;

}


@media screen and (max-width:1080px){
    .imageGenerator h1{
        font-size: 1.8rem;
    }
    .imageGenerator p{
        font-size: 1rem;
    }
    .generatorForm{
        margin-top: 30px;
        height: 52px;
        display: block;
    }
    .generatorForm .controls{
        height: 40px;
        margin-top: 15px;
        justify-content: flex-end;
        align-items: center;
    }
    .generatorForm .imageQuantity{
        color: white;
    }
    .imageQuantity option{
        color: black;
    }
    .generate-button{
        height: 100%;
    }
    .gallery{
        margin-top: 20px;

    }
    .card:not(.loading) .download-button{
        display: flex;
    }
}

@media screen and (max-width:550px){
    .card {
        width: 100%;
    }
}